
<div class="col-sm-12">
  <h2><%= reminder.title %></h2>
  <hr/>
  <div class="date-picker"  data-date="<%= pretty_format(reminder) %>" data-keyboard="true">
    <div class="date-container pull-left">
      <h4 class="weekday">Monday</h4>
      <h2 class="date">Februray 4th</h2>
      <h4 class="year pull-right">2014</h4>
    </div>
    <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
    <span data-toggle="datepicker" data-type="add" class="fa fa-angle-right"></span>
    <div class="input-group input-datepicker">
      <input type="text" class="form-control" data-format="YYYY/MM/DD" placeholder="YYYY/MM/DD">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <span data-toggle="calendar" class="fa fa-calendar"></span>
  </div>
</div>
