<h1> this is index </h1>

<% if user_signed_in? %>
  <%= display_current_user_name %>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'signin with etsy', user_omniauth_authorize_path(:etsy) %>
<% end %>

<h1>User List</h1>
<ul id="user_list">
  <% @users.each do |user| %>
    <li><%= link_to display_name(user), user %></li>
  <% end %>
</ul>