#placeholder-datepicker {
  font-size: 100px; 
  text-align: center; 
  height:100%; 
  border: 10px dashed black;
}

#placeholder-text {
  font-size:30px; display: block;
}

#placeholder-datepicker:hover {
  border: dashed 10px #9ecaed;
}